
.mod-custom {
    position: relative;
}
.text-center {
    text-align: center!important;
}
.py-1 {
    padding-top: 6.25rem!important;
    padding-bottom: 0.25rem!important;
}
.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.blue {
    color: #145889 !important;
}